<script src="//cdn.bootcss.com/jquery/1.8.0/jquery.min.js"></script>
<script src="http://tongbao.sanyipos.com/static/backend/scripts/plugin/scale.fix.js"></script>

<script src="http://tongbao.sanyipos.com/static/backend/scripts/plugin/scale.fix.js"></script>
<script src="//cdn.bootcss.com/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
<script src="http://tongbao.sanyipos.com/static/backend/scripts/plugin/gallery.js"></script>

<!-- <script src="<%- config.root %>js/scale.fix.js"></script> -->
<!-- <script src="<%- config.root %>js/jquery.imagesloaded.min.js"></script> -->
<!-- <script src="<%- config.root %>js/gallery.js"></script> -->
<% if (theme.disqus_shortname){ %>
<script type="text/javascript">
  var disqus_shortname = '<%= theme.disqus_shortname %>';

  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
<% } else if (theme.duoshuo_shortname){ %>
<script type="text/javascript">
  var duoshuoQuery = { short_name: '<%= theme.duoshuo_shortname %>' };
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script> 
<% } %>

<% if (theme.fancybox){ %>
<link rel="stylesheet" href="//cdn.bootcss.com/fancybox/2.1.4/jquery.fancybox.min.css" media="screen" type="text/css">
<script src="//cdn.bootcss.com/fancybox/2.1.4/jquery.fancybox.min.js"></script>
<script type="text/javascript">
$(function(){
  $('.fancybox').fancybox();
})
</script>
<% } %>
<!-- <script src="<%- config.root %>js/canvas.js"></script> -->
<script src="http://tongbao.sanyipos.com/static/backend/scripts/plugin/canvas.js"></script>
<script>
	$(function(){
		// 初始化 传入dom id
		var victor = new Victor("header", "canvas-bg");
        victor(["#002c4a", "#069"])
	});

document.write("<span id='cnzz_stat_icon_1259283412' style='display:none'></span><script src='http://s4.cnzz.com/z_stat.php?id=1259283412' type='text/javascript'><\/script>");

(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
