<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>

<!-- <% var post_list = recommended_posts(page, site) %>
<% if(post_list.length > 0) { %>
    <div class="recommended_posts">
        <h1><%= __('文章推荐') %></h1>
        <ul>
            <% post_list.forEach(function(link) { %>
                <li><a href="<%= link.permalink %>"><%= link.title %></a></li>
            <% }) %>
        </ul>
    </div>
<% } %>  -->

<%- partial('_partial/comments') %>
